body {
    font-family: Fira Sans;
    font-weight: 400;
    color: #222;
    background-color: #eee;
    margin: 10vh;
}

b {
    color: #E66000;
    font-weight: 400;
}

.wrapper {
    display: grid;
    grid-template-areas: "l r";
    align-items: start;
}

.block {
    padding-left: 1em;
}

.left {
    grid-area: "l";
    padding-right: 1.5vh;
}

.right {
    grid-area: "r";
    border-left: 2px solid grey;
    padding-left: 4vh;
}

p {
    font-size: 6vh;
    line-height: 1.4em;
}

.muted p {
    font-size: 3vh;
    color: #222;
}

.muted p a {
    color: #E66000;
}

@media (max-width: 1000px) {
    .right {
        display: none;
    }
}

#chart-container {
    position: relative;
    display: block;
    padding-top: 5vh;
    width: 40vw;
}
