.hero {
    margin-bottom: 2em;
}

.hero > p {
    font-size: 4.5vw;
    line-height: 1.4em;
}

body {
    font-family: Fira Sans;
    font-weight: 400;
    color: #111;
    background-color: #eee;
}

.block {
    width: 100%;
    margin-top: 1vh;
    padding-left: 30vh;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

b {
    color: #E66000;
    font-weight: 400;
}

.container {
    margin: 10vh;
    width: auto; /* override bootstrap to avoid pixel sizing */
}

p {
    font-size: 4vh;
    line-height: 1.4em;
}
