.hero {
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 2em;
}

body {
    font-family: Fira Sans;
    font-weight: 200;
    color: #111;
    background-color: #eee;
}

.block {
    width: 100%;
    margin-top: 0.5em;
    padding-left: 30%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

b {
    color: #E66000;
    font-weight: 400;
}

.container {
    margin: 5em;
}
